<section>
  <ng-container *ngIf="!isLoading; else loading">
    <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm">
      <h1>Reseteaza parola</h1>
      <p>Te rugam sa inserezi o noua parola</p>
      <input type="text" name="username" class="d-none" />
      <mat-form-field appearance="fill">
        <mat-label>Parola</mat-label>
        <input
          [type]="isPasswordHidden ? 'password' : 'text'"
          autocomplete="new-password"
          matInput
          formControlName="password"
        />
        <span class="registration-pass-icons" matSuffix aria-hidden="false">
          <mat-icon [matTooltip]="passwordToolTip">info_outline</mat-icon>
          <mat-icon
            matTooltip="{{
              isPasswordHidden ? 'Show Password' : 'Hide Password'
            }}"
            class="cursor-pointer"
            (click)="isPasswordHidden = !isPasswordHidden"
          >
            {{ isPasswordHidden ? "visibility_off" : "visibility" }}
          </mat-icon>
        </span>
        <mat-error
          *ngIf="resetPasswordForm.get('password').hasError('required')"
        >
          Parola este
          <strong>obligatorie</strong></mat-error
        >
        <mat-error
          *ngIf="resetPasswordForm.get('password').hasError('pattern')"
        >
          Parola invalida</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirma parola </mat-label>
        <input
          [type]="isPasswordHidden ? 'password' : 'text'"
          autocomplete="new-password"
          matInput
          formControlName="confirmPassword"
        />
        <span class="registration-pass-icons" matSuffix aria-hidden="false">
          <mat-icon [matTooltip]="passwordToolTip">info_outline</mat-icon>
          <mat-icon
            matTooltip="{{
              isPasswordHidden ? 'Show Password' : 'Hide Password'
            }}"
            class="cursor-pointer"
            (click)="isPasswordHidden = !isPasswordHidden"
          >
            {{ isPasswordHidden ? "visibility_off" : "visibility" }}
          </mat-icon>
        </span>

        <mat-error
          *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid"
        >
          <span *ngIf="f['confirmPassword'].errors['required']"
            >Confirmarea parolei este <strong>obligatorie</strong></span
          >
          <span *ngIf="f['confirmPassword'].errors['confirmedValidator']"
            >Parolele nu corespund</span
          >
        </mat-error>
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="mat-focus-indicator secondary-text primary-bg mat-button mat-button-base padding-12"
        [disabled]="resetPasswordForm.invalid || isAdding"
      >
        Reseteaza parola
      </button>
      <p>Ti-ai reamintit parola? Intoarce-te la <a routerLink="/login">login</a></p>
    </form>
  </ng-container>
</section>

<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
