<section class="users-container">
  <ng-container *ngIf="!isLoading; else loading">
    <h2>Lista de useri</h2>
    <app-mat-table-users
      *ngIf="usersPagination?.data; else loading"
      [usersPagination]="usersPagination"
      (sendFilters)="requestUsers($event)"
    ></app-mat-table-users>
  </ng-container>
</section>

<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #notActivated>
  <td class="text-danger">Inactiv</td>
</ng-template>
