:host {
  .table-container {
    display: flex;
    flex-direction: column;
    padding: 8px 24px 0;
    overflow-x: auto;
    mat-table {
      mat-row {
        mat-cell {
          pre {
            white-space: normal;
            word-wrap: break-word;
            max-width: 150px;
          }
          button {
            cursor: pointer;
            border: none;
            background: inherit;
            padding: 0;
          }
        }
      }
    }
  }
  .table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5px;
  }
}
