<header
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragHandle
  class="dialog-title"
>
  <h4>Schimba Parola</h4>
</header>
<main mat-dialog-content>
  <form
    (ngSubmit)="changePassword()"
    [formGroup]="changePasswordForm"
    autocomplete="off"
  >
    <section>
      <input type="text" name="username" class="d-none" />
      <mat-form-field appearance="fill">
        <mat-label>Parola</mat-label>
        <input
          [type]="isPasswordHidden ? 'password' : 'text'"
          autocomplete="new-password"
          matInput
          formControlName="password"
          autocomplete="off"
        />
        <span matSuffix class="suffix-inline-icons">
          <mat-icon [matTooltip]="passwordTooltip">info_outline</mat-icon>
          <mat-icon
            matTooltip="{{
              isPasswordHidden ? 'Show Password' : 'Hide Password'
            }}"
            class="cursor-pointer"
            (click)="isPasswordHidden = !isPasswordHidden"
          >
            {{ isPasswordHidden ? "visibility_off" : "visibility" }}
          </mat-icon>
        </span>
        <mat-error
          *ngIf="
            changePasswordForm.get('password').hasError('required') ||
            changePasswordForm.get('password').hasError('pattern')
          "
        >
          Parola invalida
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Confirma Parola</mat-label>
        <input
          [type]="isPasswordHidden ? 'password' : 'text'"
          autocomplete="new-password"
          matInput
          formControlName="confirmPassword"
        />
        <mat-icon
          matSuffix
          matTooltip="{{
            isPasswordHidden ? 'Show Password' : 'Hide Password'
          }}"
          class="cursor-pointer"
          (click)="isPasswordHidden = !isPasswordHidden"
        >
          {{ isPasswordHidden ? "visibility_off" : "visibility" }}
        </mat-icon>
        <mat-error
          *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid"
        >
          <span *ngIf="f['confirmPassword'].errors['required']"
            >Parola invalida</span
          >
          <span *ngIf="f['confirmPassword'].errors['confirmedValidator']"
            >Parola nu se potriveste</span
          >
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <div class="btns-container">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="changePasswordForm.invalid || isLoading"
        >
          {{ changePasswordBtnMessage }}
        </button>
        <button
          type="button"
          (click)="closeDialog()"
          mat-raised-button
          color="accent"
          [disabled]="isLoading"
        >
          Renunta
        </button>
      </div>
    </section>
  </form>
</main>
