@use "src/styles/mixins.scss" as mixins;

:host {
  div.table-header {
    display: flex;
    flex-direction: column;
    form {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
  @include mixins.mat-table();

  @media screen and (min-width: 820px) {
    div.table-header {
      form {
        flex-direction: row;
        align-items: baseline;
        mat-form-field {
          flex: 1;
        }
      }
    }
    .mat-header-row,
    .mat-row {
      display: flex;
    }
  }
}
