<header
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragHandle
  class="dialog-title"
>
  <h4>
    {{ individual ? "Editeaza persoana fizica" : "Adauga persoana fizica" }}
  </h4>
</header>
<main mat-dialog-content>
  <form
    (ngSubmit)="addEditIndividual()"
    [formGroup]="addEditIndividualForm"
    autocomplete="off"
  >
    <input type="text" name="email" style="display: none" />
    <input type="password" style="display: none" />
    <input type="email" style="display: none" />
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Numele persoanei fizice</mat-label>
        <input type="text" matInput formControlName="name" autocomplete="off" />
        <mat-error
          *ngIf="addEditIndividualForm.get('name').hasError('required')"
        >
          Numele este <strong>obligatoriu</strong>
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Seria CI</mat-label>
        <input type="text" matInput formControlName="series" />
        <mat-error
          *ngIf="addEditIndividualForm.get('series').hasError('required')"
        >
          Seria CI este <strong>obligatoriu</strong>
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>CNP-ul</mat-label>
        <input type="text" matInput formControlName="CNP" />
        <mat-error
          *ngIf="addEditIndividualForm.get('CNP').hasError('required')"
        >
          CNP-ul este <strong>obligatoriu</strong>
        </mat-error>
        <mat-error *ngIf="addEditIndividualForm.get('CNP').hasError('pattern')">
          CNP-ul poate fi compus doar din cifre
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Adresa</mat-label>
        <input type="text" matInput formControlName="headquarters" />
        <mat-error
          *ngIf="addEditIndividualForm.get('headquarters').hasError('required')"
        >
          Adresa este <strong>obligatoriu</strong>
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Judetul</mat-label>
        <input type="text" matInput formControlName="county" />
        <mat-error
          *ngIf="addEditIndividualForm.get('county').hasError('required')"
        >
          Judetul este <strong>obligatoriu</strong>
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Cont bancar</mat-label>
        <input type="text" matInput formControlName="bankAccount" />
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Banca</mat-label>
        <input type="text" matInput formControlName="bank" />
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="text" autocomplete="of" matInput formControlName="email" />
        <mat-error
          *ngIf="addEditIndividualForm.get('email').hasError('pattern')"
        >
          Email invalid
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Nr. telefon</mat-label>
        <input type="text" matInput formControlName="phone" />
      </mat-form-field>
    </section>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select name="status" formControlName="isActivated">
          <mat-option
            *ngFor="let choice of individualStatusChoices"
            [value]="choice.value"
          >
            {{ choice.viewValue }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="addEditIndividualForm.get('isActivated').hasError('required')"
        >
          Statusul este <strong>obligatoriu</strong>
        </mat-error>
      </mat-form-field>
    </section>
    <section>
      <div class="btns-container">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="addEditIndividualForm.invalid || isLoading"
        >
          {{ addEditIndividualBtnMessage }}
        </button>
        <button
          type="button"
          (click)="closeDialog()"
          mat-raised-button
          color="accent"
          [disabled]="isLoading"
        >
          Renunta
        </button>
      </div>
    </section>
  </form>
</main>
