<div>
  <header
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle
    class="dialog-title"
  >
    <h4 mat-dialog-title>{{ title }}</h4>
  </header>

  <main mat-dialog-content>
    <p>{{ content }}</p>
    <form
      *ngIf="!currentInvoice?.isCancelled"
      [formGroup]="toggleInvoiceStatusForm"
      (ngSubmit)="confirm()"
    >
      <mat-form-field appearance="fill">
        <mat-label>Mentiuni de anulare</mat-label>
        <input type="text" matInput formControlName="cancellationNotices" />
      </mat-form-field>
    </form>
  </main>
  <footer mat-dialog-actions class="confirmation-dialog-buttons">
    <button type="submit" mat-raised-button color="primary" (click)="confirm()">
      Confirma
    </button>
    <button
      type="button"
      (click)="closeDialog()"
      mat-raised-button
      color="accent"
    >
      Anuleaza
    </button>
  </footer>
</div>
