<div>
  <header
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle
    class="dialog-title"
  >
    <h4 mat-dialog-title>{{ title }}</h4>
  </header>

  <main mat-dialog-content>
    <p>{{ content }}</p>
  </main>
  <footer mat-dialog-actions class="confirmation-dialog-buttons">
    <button
      type="button"
      (click)="confirm()"
      mat-raised-button
      color="primary"
    >
      Confirma
    </button>
    <button
      type="button"
      (click)="closeDialog()"
      mat-raised-button
      color="accent"
    >
      Anuleaza
    </button>
  </footer>
</div>
