<section class="individuals-container">
  <ng-container *ngIf="!isLoading; else loading">
    <h2>Lista de persoane fizice</h2>
    <app-mat-table-individual
      *ngIf="individualsPagination?.data; else loading"
      [individualsPagination]="individualsPagination"
      (sendFilters)="requestIndividuals($event)"
    ></app-mat-table-individual>
  </ng-container>
</section>

<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #notActivated>
  <td class="text-danger">Inactiv</td>
</ng-template>
