<div class="table-header">
  <mat-form-field>
    <input
      matInput
      (keyup)="applySearchFilter()"
      (keydown)="clearTimeout()"
      placeholder="Cautare..."
      [(ngModel)]="searchValue"
    />
    <button
      [ngClass]="!searchValue ? 'hidden' : ''"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clearSearchValue()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="table-container mat-elevation-z8">
  <mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="sortData($event)"
  >
    <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
      <ng-container *ngIf="col === 'invoice.date'">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [disabled]="isLoading"
        >
          {{ col | wordSeparator }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <small>{{ row["invoice"]["date"] | customDate : 0 }}</small>
        </mat-cell>
      </ng-container>

      <ng-container *ngIf="col === 'invoice.buyer.name'">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [disabled]="isLoading"
        >
          {{ col | wordSeparator }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <small>{{ row["invoice"]["buyer"]["name"] }}</small>
        </mat-cell>
      </ng-container>

      <ng-container *ngIf="col === 'CUI/CNP'">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [disabled]="isLoading"
        >
          {{ col | wordSeparator }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <small *ngIf="row['invoice']['buyer']['CUI']">{{
            row["invoice"]["buyer"]["CUI"]
          }}</small>
          <small *ngIf="row['invoice']['buyer']['CNP']">{{
            row["invoice"]["buyer"]["CNP"]
          }}</small>
        </mat-cell>
      </ng-container>

      <ng-container *ngIf="col === 'contractNumber'">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [disabled]="isLoading"
        >
          {{ col | wordSeparator }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <small>{{ row["number"] }}</small>
        </mat-cell>
      </ng-container>

      <ng-container *ngIf="col === 'invoiceNumber'">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [disabled]="isLoading"
        >
          {{ col | wordSeparator }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <small>{{ row["invoice"]["number"] }}</small>
        </mat-cell>
      </ng-container>

      <ng-container *ngIf="col === 'invoice.totalCost'">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [disabled]="isLoading"
        >
          {{ col | wordSeparator }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <small>{{ row["invoice"]["totalCost"] | currency : "" : "" }}</small>
        </mat-cell>
      </ng-container>

      <ng-container *ngIf="col === 'addedBy'">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [disabled]="isLoading"
        >
          {{ col | wordSeparator }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <small>{{ row[col] }}</small>
        </mat-cell>
      </ng-container>

      <ng-container *ngIf="col === 'createdAt'">
        <mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [disabled]="isLoading"
        >
          {{ col | wordSeparator }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <small>{{ row[col] | customDate }}</small>
        </mat-cell>
      </ng-container>

      <ng-container *ngIf="col === '_id'">
        <mat-header-cell *matHeaderCellDef> Actiuni </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button
            matTooltip="Vizualizeaza contractul"
            [disabled]="isLoading"
            (click)="viewContract(row._id)"
          >
            <mat-icon> visibility </mat-icon>
          </button>
          <button
            matTooltip="Mergi la factura"
            [disabled]="isLoading"
            [routerLink]="'/factura/' + row.invoice._id"
          >
            <mat-icon>account_balance</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
  </mat-table>
</div>

<mat-paginator
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="pageSizeOptions"
  [length]="length"
  [showFirstLastButtons]="showFirstLastButtons"
  (page)="handlePageChange($event)"
  [disabled]="isLoading"
></mat-paginator>
